.section {
  margin-bottom: 24px;
}

.title {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.description {
  font-size: 0.9em;
  opacity: 0.8;
  margin-bottom: 8px;
}

.description a {
  color: var(--link);
  cursor: pointer;
}

.description a:hover {
  text-decoration: underline;
}
